.actions {
  height: 50px;
  text-align: right;
}

.addBtn {
  position: relative;
}

.pubBtn {
  margin-left: 10px;
}

.editBtn {
  margin-left: 10px;
  color: white;
  background: orange;
}

.delBtn {
  margin-left: 10px;
}

.viewBtn {
  margin-left: 0;
}

.configBtn {
  margin-left: 10px;
}

.siteLogo {
  max-width: 40px;
  max-height: 40px;
}
