body {
  height: inherit;
  width: inherit;
}

.artipub-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 180px;
}

.artipub-container .ant-card-body {
  text-align: center;
}

.artipub-container .ant-btn.success {
  background: #87d068;
  border-color: #87d068;
}

.artipub-container .input-url {
  margin-bottom: 15px;
}

.artipub-container .config-btn {
  margin-left: 10px;
}
